.task-container {
	margin: 0 auto;
	width: 800px;
}

.nav-item {
	color: #FFFFFF;
}

.navbar {
	margin: 0 auto;
	width: 800px;
}

.form {
	padding: 30px 0;
	text-align: center;
}

.list-item {
    padding: 10px 0;
    border: 1px solid #ccc;
}


