.active-tasks  {
	margin: 0 auto;
	border: 1px solid gray;
	width: 800px;
}

.task-container {
	margin: 0 auto;
	width: 800px;
}

.nav-item {
	color: #FFFFFF;
}

.navbar {
	margin: 0 auto;
	width: 800px;
}

label {
	display: inline-block ;
}

.form {
	padding: 30px 0;
	text-align: center;
}

.lists li .clickable:hover {
  cursor: pointer;
}

.backButton {
  color: #006295;
  padding-top: 20px;
}

.backButton:hover {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: grey;
}

.completed li {
	color: black;
}

