	<form name="todoForm">

    <div>
        <input type="text"
               name="todoNameField"
               ng-model="todoName"
               placeholder="Add new task (min 3 chars)"
               class="form-control"
               ng-keyup="($event.keyCode == 13 && todoName.length > 2) ? addItem() : return"
               style="margin-bottom: 10px"
                />

        <button ng-click="addTodo()"
                ng-hide="myForm.todoNameField.$invalid"
                class="btn btn-primary" type="button"
                >Save Todo
        </button>
    </div>

</form>