<div class="container-fluid">
	<div class="row">
		<div class="col-md-3" id="sidebar">
			<ul>
				<li>
					<a href="#" ng-repeat="list in lists" ng-click="setCurrentList(list)">{{ list.$value }}</a>
				</li>
	</ul>
	<button type="button" class="btn btn-dark" ng-click="toggle()">Add a New List</button>
		</div>
		<div class="col-md-5" id="main">
			<form class="myList" ng-submit="createList()" ng-show="myList">
				<input class="form-control" placeholder="Create a List" ng-model="newList">

				<input type="submit" id="submit" value="Submit" />
				<h4>{{ newList }}</h4>
			</form>

			<h3 ng-hide="myList">{{ currentList.$value }}</h3>
		<div ng-repeat="todo in todos">
			<ul class="todos">
				<li> {{ todo.description }} | {{ todo.status }}
				</li>
			</ul>
		</div>
			<form id="myTodo" ng-submit="addTodo()">
	<input class="form-control" placeholder="Add a Todo" ng-model="newTodo">

	<input type="submit" id="submit" value="Submit" />
	<h4>{{ newTodo }}</h4>
</form>
		</div>
	</div>
	


	
</div>