<div class="container">
	<ul>
		<li>
			<a href="#" ng-repeat="list in lists" ng-click="setCurrentList(list)">{{ list.$value }}</a>
		</li>
	</ul>
	<br><br>
		<button type="button" class="btn btn-dark" ng-click="toggle()">Add a New List</button>

		<form class="myList" ng-submit="createList()" ng-show="myList">
	<input class="form-control" placeholder="Create a List" ng-model="newList">

	<input type="submit" id="submit" value="Submit" />
	<h4>{{ newList }}</h4>
</form>

<div class="row">
	<div class="list-container">
		<h3>{{ currentList.$value }}</h3>
		<div ng-repeat="todo in todos">
			{{ todo.description }} | {{ todo.listId }}
		</div>
	</div>
	</div>


	
</div>