<div class="container">
	<div class="task-container">
		<h1> <i class='fa fa-arrow-left backButton' ng-click='goBack()'></i> {{ listTitle.toUpperCase() }}</h1>
		<form name="listForm">

    <div>
        <input type="text"
               name="listNameField"
               ng-model="listName"
               placeholder="Create a New Todo List"
               class="form-control"
                />

        <button ng-click="createList()"
                ng-hide="myForm.listNameField.$invalid"
                class="btn btn-primary" type="button"
                >Create My List
        </button>
    </div>

</form>

<!--MAIN LIST VIEW-->

<h4>My Lists</h4>

<div ng-repeat="list in lists"
     class="row list-item">

    <div class="col-md-6">

        <!--TODO LABEL-->
        <span>{{list.name}}</span>
    </div>
    <div class="col-md-6 text-right">
        <!--START TODO BUTTON-->
        <a class="btn btn-warning"
           ng-click="startTodo($index, todo)">
            <i class="far fa-hourglass"></i> Start
        </a>

        <!--DELETE TODO BUTTON-->
        <a class="btn btn-danger"
           ng-click="removeTodo($index, todo)">
            <i class="far fa-times-circle"></i> Remove
        </a>

    </div>

</div>

		
</div>


