<div id="wrapper">
        <div id="sidebar-wrapper">
            
           <ul class="sidebar-nav">
                <li class="sidebar-brand"><a ui-sref="welcome">Just To Do It</a></li>
                <li>
                    <a ui-sref="lists({ listName: list })" ng-repeat="list in lists" ng-click="setCurrentList(list)">{{ list.$value }}</a>
                </li>
                <li><button type="button" class="btn btn-dark" ng-click="open()">Add a New List</button></li>
            </ul>
            
        </div>
        <div class="page-content inset"><div class="welcome-container">
	<h1>Let's Get Some Stuff Done Today!</h1>
		<div class="row">
			<h2 class="date">{{ CurrentDate | date: 'dd,MMMM yyyy'}}</h2>
		</div>
</div>
</div>
</div>
